<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.37" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Rainfall Outlook</name>
    <description>Know the 6-month forecast of Rainfall</description>
    <author email="anarrativecloud@gmail.com" href="https://twitter.com/ANarrativeCloud">Adrienne Cortez</author>
    <content src="index.html" />
    <preference name="orientation" value="portrait" />
    <platform name="android">
        
        <icon density="ldpi" src="icon.png" />
        <icon density="mdpi" src="icon.png" />
        <icon density="hdpi" src="icon.png" />
        <icon density="xhdpi" src="icon.png" />
        <icon density="xxhdpi" src="icon.png" />
        <icon density="xxxhdpi" src="icon.png" />
    </platform>
    <plugin name="cordova-plugin-geolocation" spec="~4.0.1" />
    <plugin name="cordova-plugin-file" spec="~6.0.1" />
</widget>
