.province{
	fill: gray;
}

.province:hover{
	fill: pink; !IMPORTANT
}

.selected{
	fill:pink; !IMPORTANT
}

#map-1{
	height: 454; !IMPORTANT
	width: 282; !IMPORTANT
	background-color: white;
}

body{
	margin: 1vw 1vw 1vw 1vw;
}

.title{
	text-align: center;
	margin-bottom: 1.5vw;
}


#up-1{
	font-size: 32px;
	font-family: Helvetica, serif;
	font-weight: lightest;
	margin: 5px 0px 20px 0px;
}

#up-2{
	font-family: sans-serif;
}

.container {
	background-color: aliceblue;
	width: 97vw;
	max-width: 97vw;

}

#allmaps{
	/*background-color: skyblue;*/
	width: 98vw;
	float: left;
}

.map{
	background-color: pink;
	padding: .25vw .25vw .25vw .25vw;
	/*min-width: 97vw;*/ /*will be appended to current class when size of screen exceeds minimum and d3 can no longer render the philippine map that can be distinguishable by the human eyes*/
	float: left;
}

.map-month{
	background-color: yellow;
	text-align: center;
}

.map-holder {
	background-color: sienna;
	min-width: 18.7vw;
	max-width: 18.7vw;
	min-height: 29.4vw;
	max-height: 29.4vw;
}
