<!DOCTYPE>
<html ng-app="app" ng-controller="Controller">
<head>
    <title>Rainfall Outlook</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
</head>
<body>
    
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

    <div id="mySidenav" class="sidenav">
        <a href="#"onclick="closeNav()" id="close-side-nav"><i class="material-icons large-2">close</i></a>
        <hr>
        <ul>
            <li><a class="navitem" href="#" onclick="openPage('maps')"><i class="material-icons large-2 left">location_on</i><span class="navlabel">Map</span></a></li>
            <li><a class="navitem" href="#" onclick="openPage('data')"><i class="material-icons large-2 left">view_quilt</i><span class="navlabel">Data</span></a></li>
            <li><a class="navitem" href="#" onclick="openPage('downloads')"><i class="material-icons large-2 left">vertical_align_bottom</i><span class="navlabel">Downloads</span></a></li>
            <hr>
            <li><a class="navitem" href="#" onclick="openPage('settings')"><i class="material-icons large-2 left">settings</i><span class="navlabel">Settings & Updates</span></a></li>
        </ul>
    </div>

    <div id="main">
        <div id="maps" class="page-content">
            <div class="titlebar" id="titlebar-1">
                <a href="#" id="menutoggler" onclick="openNav()"><i class="material-icons large-1">menu</i></a>
                <span class="large-1 page-title">Rainfall Outlook</span>
            </div>
            <div id="allmaps">
                <div id="innermap">
                    <div class="map"> <div class="map-holder"></div> </div>
                    <div class="map"> <div class="map-holder"></div> </div>
                    <div class="map"> <div class="map-holder"></div> </div>
                    <div class="map"> <div class="map-holder"></div> </div>
                    <div class="map"> <div class="map-holder"></div> </div>
                    <div class="map"> <div class="map-holder"></div> </div>
                </div>
            </div>
        </div>
        <div id="data" class="page-content">
            <div class="titlebar" id="titlebar-2">
                <a href="#" id="menutoggler" onclick="openNav()"><i class="material-icons large-1">menu</i></a>
                <span class="large-1">Tabulated Data</span>
            </div>
            <p>
                <span ng-if="showProvince">Provinces</span>
                <span ng-if="showMunicipality"><a href="#" ng-click="loadProvinceData()">Provinces</a> > {{municipalData.province}}</span></p> 
            <div class="table-local">
                <table class="areadata">
                    <tr>
                        <th><span ng-if="showProvince">Provinces</span><span ng-if="showMunicipality">Municipalities</span></th>
                        <th ng-repeat="each in months">{{each}}</th>
                    </tr>
                    <tbody ng-if="showProvince">
                        <tr ng-repeat="each in provincedata">
                            <td><a href="#" ng-click="changeCurrentProvince(each.id)">{{each.province}}</a></td>
                            <td ng-repeat="num in each.array" style="background-color: {{num.color}};">{{num.value}}</td>
                        </tr>
                    </tbody>
                    <tbody ng-if="showMunicipality">
                        <tr>
                            <td>{{municipalData.province}}</td>
                            <td ng-repeat="num in municipalData.array">{{num}}</td>
                        </tr>
                        <tr ng-repeat="each in municipalData.municipalities">
                            <td>{{each.Municipality}}</td>
                            <td ng-repeat="element in each.array" style="background-color: {{element.color}};">{{element.value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <i class="material-icons" id="refresh" ng-click="loadProvinceData()">refresh</i>
        </div>
        <div id="downloads" class="page-content">
            <div class="titlebar" id="titlebar-3">
                <a href="#" id="menutoggler" onclick="openNav()"><i class="material-icons large-1">menu</i></a>
                <span class="large-1 page-title">Downloads</span>
            </div>
        </div>
        <div id="settings" class="page-content">
            <div class="titlebar" id="titlebar-4">
                <a href="#" id="menutoggler" onclick="openNav()"><i class="material-icons large-1">menu</i></a>
                <span class="large-1 page-title">Settings & Updates</span>
            </div>
        </div>
    </div>

    <a href="#" id="floatingbtn" onclick="showLegend('true')"> <i class="material-icons">help_outline</i> </a>
    <a href="#" id="backtomaps" onclick="openPage('maps')"><i class="material-icons">pin_drop</i></a>
    <i class="material-icons large-2" id="arrowright">keyboard_arrow_right</i>
    <i class="material-icons large-2" id="arrowleft">keyboard_arrow_left</i>
    <img src="img/legend-shadow.png" id="legend" onclick="showLegend('false')">
    

    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/d3.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/mapper.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
</body>
</html>